$pale_blue: hsl(225, 100%, 94%);
$bright_blue: hsl(245, 75%, 52%);
$very_pale_blue: hsl(225, 100%, 98%);
$desaturated_blue: hsl(224, 23%, 55%);
$dark_blue: hsl(223, 47%, 23%);

$width-mobile: 375px;
$width-desktop: 1440px;

$primary-color-01: $pale_blue;
$primary-color-02: $bright_blue;

$font-family-primary: "Red Hat Display", sans-serif;

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: $width-mobile) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-primary;
    background: url(./images/pattern-background-mobile.svg) repeat-x;
    background-size: contain;
    background-color: $primary-color-01;
  }

  .summary {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    background-color: white;
    border-radius: 10px;
    overflow: hidden;

    &__info {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    &__heading {
      font-size: 3rem;
      font-weight: 900;
      color: $dark_blue;
    }

    &__paragraph {
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      color: $desaturated_blue;
      line-height: 2.5rem;
    }

    &__plan {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: $very_pale_blue;
      padding: 3rem 2rem;
      border-radius: 10px;
    }
  }

  .summary img {
    width: 100%;
  }

  .icon-music {
    flex: 1;
  }

  .plan-details {
    flex: 2;
  }

  .plan-type {
    margin-right: 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: $dark_blue;
  }

  .plan-amount {
    font-size: 1.5rem;
    color: $desaturated_blue;
    font-weight: 500;
  }

  .change-plan-link {
    flex: 1;
    font-weight: 900;
    font-size: 1.4rem;
  }

  a.change-plan-link:hover {
    color: $dark_blue;
  }

  a.change-plan-link:active,
  a.change-plan-link:visited {
    color: $bright_blue;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    gap: 1rem;
  }
  .btn {
    padding: 2rem 1.2rem;
    font-size: 1.5rem;
    font-weight: 700;
    &--primary {
      border: none;
      background-color: $primary-color-02;
      border-radius: 10px;
      color: $very_pale_blue;
      box-shadow: 0px 40px 30px -20px rgba(0, 0, 0, 0.5);
    }

    &--secondary {
      text-align: center;
      color: $desaturated_blue;
    }
  }
}

@media screen and (min-width: 485px) {
  .summary {
    width: 80%;
  }
}

@media screen and (min-width: 545px) {
  .summary {
    width: 70%;
  }
}

@media screen and (min-width: 623px) {
  .summary {
    width: 60%;
  }
}

@media screen and (min-width: 727px) {
  .summary {
    width: 50%;
  }
}

@media screen and (min-width: 872px) {
  .summary {
    width: 40%;
  }
}

@media screen and (min-width: 1090px) {
  .summary {
    width: 35%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background: url(./images/pattern-background-desktop.svg) repeat-x;
    background-color: $primary-color-01;
    background-size: contain;
  }

  .summary {
    width: 30%;
  }

  .btn {
    cursor: pointer;
    &--primary:hover {
      background-color: $dark_blue;
    }

    &--secondary:hover {
      color: $dark_blue;
    }
  }
}
