* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.order-summary {
}

.summary {
  &__heading {
  }

  &__paragraph {
  }

  &__plan {
  }
}

.plan-type {
}

.plan-amount {
}

.btn {
  &--primary {
  }

  &--secondary {
  }
}
